<div class="col">
    <div class="card">
        <img  [src]="recipe.imagePath" alt="Card image cap" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{recipe.name}}</h5>
            <p class="card-text">{{recipe.description}}</p>
        </div>
        <div class="card-footer text-center">
            <!--   <button class="btn btn-dark" (click)="onSelected()" style="cursor: pointer;">Detail</button> -->
            <button class="btn btn-light" style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active">Detail</button>
        </div>
    </div>
</div>