<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <div class="container-fluid">

    <div class="col-md-12">
     <!--  <app-header (featuredSelected)="onNavigate($event)"></app-header> -->
     <app-header></app-header>
    </div> 
    <div class="row">
      <router-outlet></router-outlet>
      <!-- <div class="col-md-12">
        <app-recipes *ngIf="loadedFeature ==='recipe'"></app-recipes>
      </div>
    </div>
    <div class="row">
      <div class="col-me-12">
        <app-shopping-list *ngIf="loadedFeature ==='shopping-list'"></app-shopping-list>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</body>

</html>