<h1>{{dynamicTitle}}</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" placeholder="name of the server" [(ngModel)]="item_server_name">
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" [disabled]="!item_server_name" (click)="itemCreatedServer()">Add item</button>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>List of the servers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <li *ngFor="let item of items_servers">{{item}}</li>
            </div>        
    </div>
</div>

